VITE_SUPABASE_URL=https://qyxlgsymqxhxsnwipymy.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InF5eGxnc3ltcXhoeHNud2lweW15Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODExMDA5OTMsImV4cCI6MjA5NjY3Njk5M30.fC0lkr_vf1AOsrcfFzjkUStD-gUB3K5ecB1GeM8zvLY
