VITE_SUPABASE_URL=https://whdkgllaqrjzqcnwnmih.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndoZGtnbGxhcXJqenFjbndubWloIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODE1MjAwMjQsImV4cCI6MjA5NzA5NjAyNH0.sU1B-mODdo_a6JnQqcl-b6y6WNOi0Y8uGiOjMBUvizU
